/* *{
    display: flex;

} */
div{
    flex-direction: column;
}
h6{
    color: blue;
}
.buttons{
    flex-direction: row;
}

button{
    background-color: blue;
    color: white;
    font-size: 15px;
}
.red{
    color: red;
}
.blue{
    color: blue;
    font-style: italic; 
}